# macOS
.DS_Store

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.eggs/
*.egg-info/
*.egg
build/
dist/
develop-eggs/
downloads/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Virtual envs
.venv/
venv/
env/
ENV/

# Editors
.idea/
.vscode/
*.swp

# Test / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
